@import "tailwindcss";

* {
  font-family: monospace;
}
p {
  display: flex;
  justify-content: center;
  align-items: center;
}
.app-layout{
  @apply  grid grid-cols-[1fr_3.5fr] grid-rows-[60px_1fr] w-full h-screen overflow-hidden;
}
.hover-mode{
  @apply hover:cursor-pointer hover:bg-yellow-200 hover:border-2 hover:border-dashed
}
.active-mode {
  @apply active:cursor-default active:bg-yellow-300 active:border-double
}
.icon{
  @apply w-[30px] h-[30px] object-contain
}
.main-container{
  @apply flex border-t-[1px] h-screen p-[8px] pt-[10px] flex-col gap-[6px] overflow-y-auto
}
.task-container{
  @apply flex h-[45px] w-full rounded-[12px] border-[1px] p-[5px] items-center bg-yellow-200 
}
.add-container{
  @apply grid grid-cols-[1fr] grid-rows-[1fr_2fr_1fr] h-[180px] w-[600px] rounded-[12px] p-[5px] bg-yellow-100 border-2 border-dashed mb-[100px]
}
.blur-container{
  @apply absolute w-screen h-screen backdrop-blur-[1px] flex justify-center items-center
}
.textarea{
  @apply resize-none p-2 break-words m-[2px] hover:!cursor-text rounded-lg focus:bg-yellow-200 border focus:border-2 text-[16px]
}
.sidebar-container{
  @apply h-screen border-r-[1px] overflow-y-auto border-t-[1px]
}